#bannerSlide .swiper-pagination-bullet {
  background-color: #bbcbcc;
}
#bannerSlide .swiper-pagination-bullet-active {
  background-color: #fff;
}
#bannerSlide .swiper-slide img {
  width: 100%;
  height: 150px;
}
#bannerSlide .swiper-slide span {
  position: absolute;
  bottom: 25px;
  z-index: 1;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 13px;
}
#broadcast {
  font-size: 13px;
  line-height: 18px;
  margin: 5px 10px;
  border-bottom: 1px solid #ebebeb;
  height: 23px;
  padding-left: 22px;
  background: url(../images/laba.png) no-repeat 0 0;
}
.broadcast-icon {
  width: 17px;
  height: 18px;
  float: left;
  
}
.sx dd {
  width: 25%;
  font-size: 13px;
  text-align: center;
  display: inline-block;
}
.sx dd>div {
  margin: 10px auto;
  width: 42px;
  height: 42px;
  background-size: 42px;
}
.sx dd p {
  color: #696969;
  margin-bottom: 10px;
}
.sx .i1 {
  background-image: url(../images/index-i1.png);
}
.sx .i2 {
  background-image: url(../images/index-i2.png);
}
.sx .i3 {
  background-image: url(../images/index-i3.png);
}
.sx .i4 {
  background-image: url(../images/index-i4.png);
}
.bg {
  height: 5px;
  background-color: #f7f7f7;
}
.g-list h3 {
  padding-left: 22px;
  margin: 10px;
  font-size: 14px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  background: url(../images/zan.png) no-repeat 0 0;
}
.g-list .amount {
  color: #e4393c;
}
.g-list dd {
  font-size: 13px;
  height: 85px;
  margin: 0 10px 10px;
  border-bottom: 1px solid #ebebeb;
}
.g-list dd:last-child {
  border-bottom: none;
}
.g-list dd img {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 10px;
}
.g-list dd .amount {
  margin: 0 5px;
  font-size: 15px;
  font-weight: bold;
}
.g-list dd .desc {
  height: 30px;
}
.g-list dd .flag {
  margin: 5px 0 6px;
}
.g-list dd .flag>span {
  padding: 1px 6px;
  margin-right: 5px;
  border-radius: 3px;
}
.g-list dd .flag .f0 {
  color: #bfbfbf;
  border: 1px solid #99f20a;
  background-color: #f2fff1;
}
.g-list dd .flag .f1 {
  color: #3fcf82;
  border: 1px solid #3fcf82;
  background-color: #f2fff1;
}
.g-list dd .flag .f2 {
  color: #2ea2f4;
  border: 1px solid #2ea2f4;
  background-color: #f1fbff;
}
.g-list dd .flag .f3 {
  color: #fd8aca;
  border: 1px solid #fd8aca;
  background-color: #fff1f9;
}
.g-list dd del {
  margin-left: 5px;
}
.cGrayD {
  color: #696969;
}
.cGray {
  color: #b0b0b0;
}